* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* commons */

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  font-size: 10px;
}

main {
  margin-top: 61px;
}

/* layout */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.box {
  background-color: #0061fe;
  margin: 0 auto;
  padding: 5px 12px;
}

header ul {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}

header ul li a {
  color: black;
}

a {
  text-decoration: none;
}

header ul li {
  padding-right: 20px;
}

.col-60 img {
  width: 100%;
}

/* utility */

.bg-yellow {
  background-color: yellow;
}

.bg-lightblue {
  background-color: #b4d0e6;
  ;
}

.pg-20 {
  padding: 20px;
}

.mt-20 {
  margin-top: 20px;
  margin-right: 268px;
}

.justify-space-between {
  justify-content: space-between;
}

.logo {
  width: 80px;
}

.box a {
  color: white;
}

.col-40 {
  width: 40%;
  text-align: left;
}

.col-60 {
  width: 60%;
}

.text-center {
  text-align: center;
}